.layout {
  display: flex;
  min-height: 100vh;
}

.layout-main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.layout-content {
  flex: 1;
  padding: 16px;
}

.layout-overlay {
  position: fixed;
  inset: 0;
  background-color: transparent; /* No dims screen but blocks clicks */
  z-index: 999; /* Below the sidebar which is 1000 */
}